@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 250 1000;
  src: url('./VF.woff2') format('woff2-variations'),
       url('./VF.woff') format('woff-variations');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: url('./Light.eot');
  src: url('./Light.eot?#iefix') format('embedded-opentype'),
       url('./VF.woff2') format('woff2-variations'),
       url('./VF.woff') format('woff-variations'),
       url('./Light.woff2') format('woff2'),
       url('./Light.woff') format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('./Regular.eot');
  src: url('./Regular.eot?#iefix') format('embedded-opentype'),
       url('./VF.woff2') format('woff2-variations'),
       url('./VF.woff') format('woff-variations'),
       url('./Regular.woff2') format('woff2'),
       url('./Regular.woff') format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url('./Medium.eot');
  src: url('./Medium.eot?#iefix') format('embedded-opentype'),
       url('./VF.woff2') format('woff2-variations'),
       url('./VF.woff') format('woff-variations'),
       url('./Medium.woff2') format('woff2'),
       url('./Medium.woff') format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  src: url('./Semibold.eot');
  src: url('./Semibold.eot?#iefix') format('embedded-opentype'),
       url('./VF.woff2') format('woff2-variations'),
       url('./VF.woff') format('woff-variations'),
       url('./Semibold.woff2') format('woff2'),
       url('./Semibold.woff') format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('./Bold.eot');
  src: url('./Bold.eot?#iefix') format('embedded-opentype'),
       url('./VF.woff2') format('woff2-variations'),
       url('./VF.woff') format('woff-variations'),
       url('./Bold.woff2') format('woff2'),
       url('./Bold.woff') format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 800;
  src: url('./Extrabold.eot');
  src: url('./Extrabold.eot?#iefix') format('embedded-opentype'),
       url('./VF.woff2') format('woff2-variations'),
       url('./VF.woff') format('woff-variations'),
       url('./Extrabold.woff2') format('woff2'),
       url('./Extrabold.woff') format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: url('./Black.eot');
  src: url('./Black.eot?#iefix') format('embedded-opentype'),
       url('./VF.woff2') format('woff2-variations'),
       url('./VF.woff') format('woff-variations'),
       url('./Black.woff2') format('woff2'),
       url('./Black.woff') format('woff');
}
